/WorldOfZuul/nbproject/private/
/WorldOfZuul/build/
/WorldOfZuul/out/
/WorldOfZuulFXML/WoZFXML/target/classes/.netbeans_automatic_build
/WorldOfZuulFXML/WoZFXML/target/test-classes/.netbeans_automatic_build